{% extends 'base/main.html' %}
{%  block content %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Notes</title>
    </head>

    <body>
        <nav class="navbar is-dark">
            <div class="navbar-brand">
                <div style="padding-top: 10px"><a href="{% url 'tasks' %}">&#8592; Go Back</a></div>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">
                    <a href="{% url 'editor' %}?docid=0" class="navbar-item">New Notes</a>
                </div>
            </div>
        </nav>

        <section class="section">
            <div class="columns">
                <div class="column is-2">
                    <aside class="menu">
                        <p class="menu-label">Notes</p>

                        <ul class="menu-list">
                            {% for doc in documents %}
                                <li>
                                    <a href="{% url 'editor' %}?docid={{ doc.id }}">{{ doc.content }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </aside>
                </div>

                <div class="column is-10">
                    <form method="post" action="{% url 'editor' %}">
                        {% csrf_token %}

                        <input type="hidden" name="docid" value="{{ docid }}">
                        <div class="field" style="">
                            <label class="label">
                                {% if document %}
                                    <span class="has-text-grey-light">
                                        Created at: {{ document.created_at|date:"m/d Y" }} /
                                        Modified at: {{ document.modified_at|date:"m/d Y" }}
                                    </span>
                                {% endif %}
                            </label>

                            <div class="control" style="display:none">
                                <input type="text" class="input" name="title" placeholder="Title"{% if document %} value="{{ document.title }}"{% endif %}>
                            </div>
                        </div>


                        <div class="field">
                            <label class="label">Content</label>

                            <div class="control">
                                <textarea class="textarea" name="content" placeholder="Content">{% if document %}{{ document.content }}{% endif %}</textarea>
                            </div>
                        </div>
                        <div class="field is-grouped" style="display: flex; justify-content: space-between; padding: 10px;">
                            <div class="control">
                                <button class="button is-primary">Save</button>
                            </div>
                            {% if document %}
                                <div class="control">
                                    <a href="{% url 'delete_document' document.id %}" class="button is-danger">Delete</a>
                                </div>
                            {% endif %}

                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
{% endblock content %}